EXPO_TUNNEL_SUBDOMAIN=trade-app-submit
EXPO_PACKAGER_HOSTNAME=https://trade-app-submit.preview.emergentagent.com
EXPO_PUBLIC_BACKEND_URL=https://trade-app-submit.preview.emergentagent.com
EXPO_USE_FAST_RESOLVER="1"
METRO_CACHE_ROOT=/app/frontend/.metro-cache
EXPO_PUBLIC_PRODUCTION_BACKEND_URL=https://yash-tryon-test.emergent.host
